* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  scrollbar-width: 12px;
  scrollbar-color: #e8514e;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
  border-radius: 16px;
}

/* For Firefox */
/* Track */
html {
  scrollbar-width: auto;
  scrollbar-color: var(--accent) var(--bg-primary);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 32px;
  margin: 24px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid lightgray;
  color: black;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

.dex-text {
  color: #e8514e;
}

header span img {
  width: 44px;
  rotate: 45deg;
}

.header-img {
  width: 64px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  gap: 4px;
  background-color: #ffffff;
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.search-input {
  width: 95%;
  height: 32px;
  border-radius: 4px;
  border: none;
  padding: 0 8px;
}

.search-input:focus {
  outline: none;
}

.search-clear-btn {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 8px;
  filter: invert();
  cursor: pointer;
}

/* .search-clear-btn {
  width: 24px;
  height: 24px;
  filter: invert();
} */

.content {
  display: flex;
  justify-content: center;
  padding: 120px 0;
  gap: 120px 56px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 300px;
  border: 2px solid lightgray;
  border-radius: 16px;
  box-shadow: 0 0 8px 4px lightgray;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 8px 4px gray;
}

.card-img {
  margin-top: -124px;
  width: 200px;
}

.card:hover .card-img {
  scale: 1.05;
}

.type-container {
  display: flex;
  gap: 16px;
}

.card-type-container {
  display: flex;
  gap: 24px;
}

.card-types {
  padding: 6px;
  /* border: 2px solid lightgray; */
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.load-more-btn {
  padding: 12px 16px;
  background-color: #e8514e;
  border: 2px solid lightgray;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  z-index: 999;
}

.modal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 500px;
  /* height: 750px; */
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 16px;
  /* box-shadow: 0 0 8px 4px lightgray; */
}

.card-close-btn {
  position: fixed;
  top: 0;
  right: 0;
}

/* .modal-card button {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 32px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
  } */

.modal-card h2 {
  font-size: 56px;
  margin: 0;
}

.modal-card img {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 48px;
}

.modal-card-type-container {
  display: flex;
}

.body-stats-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px;
  border: 1px solid lightgray;
  border-radius: 16px;
}

.stats-container h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background-color: rgba(230, 230, 230, 0.4);
  width: 48px;
  border-radius: 24px;
}
