@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Roboto-Regular;
}

/* LOADING SPINNER */

.loading-section {
  display: none;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 999;
}

.loading-spinner {
  position: relative;
  height: 200px;
  width: 200px;
  background: linear-gradient(to bottom, #e8514e 50%, white 50%);
  border-radius: 50%;
  border: 8px solid black;
  animation: spin 1s linear infinite;
}

.loading-spinner::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 186px;
  background: black;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.loading-spinner::after {
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 0 0 4px black; */
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white,
    inset 0 0 0 12px black;
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 32px;
  margin: 24px 0;
}

button {
  background-color: transparent;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid lightgray;
  color: black;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

.dex-text {
  color: #e8514e;
}

header span img {
  width: 44px;
  rotate: 45deg;
}

.header-img {
  width: 64px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  gap: 4px;
  background-color: #ffffff;
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.search-input {
  width: 95%;
  height: 32px;
  border-radius: 4px;
  border: none;
  padding: 0 8px;
}

.search-input:focus {
  outline: none;
}

.search-clear-btn {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  padding: 120px 0;
  gap: 120px 56px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 0 8px 4px lightgray;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 8px 4px gray;
}

.card-img {
  margin-top: -124px;
  width: 200px;
}

.card:hover .card-img {
  scale: 1.05;
}

.type-container {
  display: flex;
  gap: 16px;
}

.card-type-container {
  display: flex;
  gap: 24px;
}

.card-types {
  padding: 6px;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.load-more-btn {
  padding: 12px 16px;
  background-color: #e8514e;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
}

.load-more-btn:hover {
  box-shadow: 0 0 8px 4px gray;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  z-index: 999;
}

.modal-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 500px;
  min-width: 500px;
  background-color: white;
  border-radius: 16px;
}

.close-modal-btn {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.close-modal-btn:hover {
  scale: 1.1;
}

.modal-card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 42px;
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
}

.arrow-icons {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.arrow-icons:hover {
  scale: 1.1;
}

.modal-card h2 {
  font-size: 56px;
  margin: 0;
}

.modal-card-img {
  width: 250px;
}

.modal-card-type-container {
  display: flex;
  gap: 24px;
}

.body-stats-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 24px;
}

.body-stats {
  font-size: 20px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 24px;
}

.stats-container h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background-color: rgba(230, 230, 230, 0.4);
  width: 48px;
  border-radius: 24px;
}

canvas {
  border: 1px solid #000;
  border-radius: 8px;
}

@media (max-width: 992px) {
  .close-modal-btn {
    display: block;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 24px;
    gap: 24px;
  }
}

@media (max-width: 550px) {
  .modal-card {
    min-width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .modal-card-img {
    max-width: 250px;
    width: inherit;
  }
}

@media (max-width: 500px) {
  canvas {
    width: 350px;
    height: 200px;
  }

  .body-stats {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 56px;
  }

  header span img {
    width: 32px;
  }
}

@media (max-width: 400px) {
  .close-modal-btn {
    width: 40px;
    height: 40px;
  }

  .modal-card h2 {
    font-size: 40px;
  }

  .modal-btn-container {
    min-width: 56px;
    height: 56px;
  }

  .arrow-icons {
    width: 56px;
    height: 56px;
  }

  canvas {
    width: 300px;
    height: 175px;
  }
}
